<mat-card class="example-card" style="align-items: center;">
  <mat-card-header>
    <mat-card-title style="color: #ffd700; font-size: 2.5rem;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    ">Score</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../assets/images/score.gif" style="width: 25%;" alt="Imagem representativa para pontuação">
  <mat-card-content>
    <h1 style="font-size : 3rem; margin-top: 0.5em; color: #c0c0c0;" >{{indicators.score}}</h1>
  </mat-card-content>
</mat-card>